@import "tailwindcss";

@layer utilities {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}


:root {
  --background: #F7F5F3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0000;
    --foreground: #fffef5;
  }
}

body {
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
}

.eczar {
  font-family: "fields", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cursor-link {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACVklEQVR4nO2aTUtVQRjHfyuvLhKN0na5bJGrWrYMJShyafoZIvFbqC0MBXHbR6hu5TeQaJ33Xl2lEUq2zgyfGHgEuczxnDNn3hD/8IfDfZl5fjwzc56Zc+BaV1ejwAywArSBDvAbOFGb6x39zvzmOTBCJmoB88AW8A+Qmjb/+QTMaVvRNQQsAj8cgi/yAbAADMaCeALseQTo9y4wHRLApP5NQIB+v9XMe9U48DUihKi/AGO+ICY03ZLIPY2hkW7rMiqJvQfccYUYTDSc5JJh5rREb2QQvPR5zWWJlUw9VRXCpK+bQcBS4N2qN83FDIKVEr+qko2DDAKVEu+XTfx5D510tRKuo0cO/by4rMGtRCA49POxqKFRx1LcxYfA/YYgp8CwDWQmAcRFGJe2ntlAXieAOGwIsmwDaQeGOAImta97wE/9vAnIOxtIL3ImxANIxwZyHDkTPkCObCAnCSCagvyJAVIFIgjIcQKIIEOrG2Fi+wbZsYF8SAAhWlHc9Ln8riSAEB0Jrkv/ku8Spc6c8OmnNpARx6LRNRNN/beoaDT67NDggwQQonO6UHMODZpN0cPIEALMXpWt7gAlWsggUCnxyzKI86zkcEwqBe7VOXGcziBgsfgMeExNrWcQuPR5FQe19OBYMvF2lQlepFsZPVYYp6EmAm+Dq9Rid/GksUTDbFsfNgV5GHoWCWIz9LP3qcBDreOyxLqqpUf7+x4BvusdO8kbEC09FW/rWWzd4E+1ip1tsrT61rCexZpjzPe6n/514aUac/1Nt6dLuim64T2Ka5GH/gMJnhnP+lig8wAAAABJRU5ErkJggg==") 16 16, pointer;
}

