@import "tailwindcss";

@layer utilities {
  .animate-marquee {
    animation: marquee 10s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}

:root {
  --background: #f7f5f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0000;
    --foreground: #fffef5;
  }
}

body {
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
}

.eczar {
  font-family: "fields", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.backdrop-blur {
  background: rgba(255, 255, 255, 0.5); /* <-- make sure it's semi-transparent */
  -webkit-backdrop-filter: blur(29.3px);
  backdrop-filter: blur(29.3px);
  box-shadow: 0 4px 31px 0 #00000017;
  border-radius: 20px;
}